* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* header content design */
.header {
    background-image: url('images/banner/banner2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: right;
}

.header-text {
    font-size: 50px;
    font-weight: 700;
    padding-top: 25vh;
    padding-right: 200px;
}

.header-paragraph {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 200px;
}

.header-btn {
    padding: 20px 25px;
    margin-right: 200px;
    background-color: #F15B22;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

/* failure section design */
.failure {
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.failure-text {
    margin-top: 100px;
    margin-left: 100px;
}

.failure-header {
    font-size: 40px;
}

.failure-paragraph {
    font-size: 20px;
    margin-top: 20px;
}

.para-one {
    margin-top: 20px;
}

.para-two {
    margin-top: 5px;
}

.para-three {
    margin-top: 5px;
}

.para-four {
    margin-top: 5px;
}

.para-five {
    margin-top: 5px;
}

.image-add {
    margin-left: 100px;
}

/* Plan section design */
.plans {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.plan-header {
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 700;
}

.web {
    text-align: center;
}

.java {
    text-align: center;
}

.smoke {
    text-align: center;
}

.ecom {
    text-align: center;
}

.web-head {
    font-size: 30px;
    margin: 20px 0;
}

.java-head {
    font-size: 30px;
    margin: 20px 0;
}

.smoke-head {
    font-size: 30px;
    margin: 20px 0;
}

.ecom-head {
    font-size: 30px;
    margin: 20px 0;
}

.plan-text {
    font-size: 20px;
    color: rgb(65, 65, 65);
}

/* positive section design */
.positive {
    background-image: url('images/watch.png');
    height: 50vh;
    width: 80%;
    background-repeat: no-repeat;
    margin: 100px 150px;
}

.positive-head {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.positive-text {
    padding: 50px 50px;
}

.positive-btn {
    padding: 20px 40px;
    background-color: white;
    border: none;
    color: #F15B22;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 50px;
}

.color-overlay {
    background-image: url('images/gradient2.png');
    background-repeat: no-repeat;
}
/* footer section design */
.footer{
    display: flex;
    justify-content: space-around;
    background-color: #141414;
    color: white;
}
.future{
    padding: 100px 0;
}
.subscribe{
    padding: 100px 0;
}
.future-header{
    margin-bottom: 20px;
    font-size: 40px;
}
.future-text{
    margin-bottom: 20px;
}
.future-email{
    margin-bottom: 20px;
}
.future-phone{
    margin-bottom: 20px;
}
.subscribe-header{
    font-size: 30px;
    margin-bottom: 20px;
}
.subscribe-email{
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border: 1px solid white;
    background-color: #141414;
    color: white;
}
.subscribe-btn{
    padding: 15px 30px;
    margin-top: 10px;
    background-color: white;
    border: none;
    color: #F15B22;
    border-radius: 5px;
    font-size: 15px;
}